.toolbar .toolbar-tab.admin-toolbar-messages-tab {
  display: flex;
  float: right;
}

.toolbar .admin-toolbar-messages-tab [data-big-pipe-placeholder-id] {
  display: none;
}

.toolbar .admin-toolbar-messages {
  display: flex;
}

.toolbar .admin-toolbar-messages__toggle {
  display: flex;
  height: auto;
  margin: 0;
  padding: 1em;
  color: white;
  font: inherit;
  font-weight: 700;
}

.toolbar .admin-toolbar-messages__toggle-state {
  display: none;
}

.toolbar
  .admin-toolbar-messages__toggle-state:checked
  ~ .admin-toolbar-messages__toggle {
  font-weight: bold;
}

.toolbar .admin-toolbar-messages__drawer {
  position: absolute;
  top: 100%;
  right: 1em;
  width: 30em;
  max-width: calc(100% - 2em);
  margin-top: 1em;
  padding: 0;
  transform: translateX(calc(100% + 1em));
}

.toolbar-fixed.toolbar-horizontal.toolbar-tray-open
  .admin-toolbar-messages__drawer {
  top: calc(100% + 3em);
}

.toolbar .admin-toolbar-messages__message-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toolbar .admin-toolbar-messages__message {
  display: block;
  margin-bottom: 0.25em;
  padding: 1em;
  transition: transform 0.3s;
  transform: translateX(0);
  animation-name: admin-toolbar-messages__message--hide;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

/* stylelint-disable */
@keyframes admin-toolbar-messages__message--hide {
  from {
    transform: translateX(calc(-100% - 1em));
  }
}
/* stylelint-enable */

.toolbar .admin-toolbar-messages__message:nth-child(2) {
  transition-delay: 0.1s;
  animation-delay: 3.1s;
}

.toolbar .admin-toolbar-messages__message:nth-child(3) {
  transition-delay: 0.2s;
  animation-delay: 3.2s;
}

.toolbar .admin-toolbar-messages__message:nth-child(4) {
  transition-delay: 0.3s;
  animation-delay: 3.3s;
}

.toolbar .admin-toolbar-messages__message:nth-child(5) {
  transition-delay: 0.4s;
  animation-delay: 3.4s;
}

.toolbar .admin-toolbar-messages__message a {
  display: inline;
  text-decoration: underline;
  color: inherit;
}

.toolbar .admin-toolbar-messages__message a:focus,
.toolbar .admin-toolbar-messages__message a:hover {
  text-decoration: none;
}

.toolbar
  .admin-toolbar-messages__toggle-state:checked
  ~ .admin-toolbar-messages__drawer
  .admin-toolbar-messages__message {
  transform: translateX(calc(-100% - 1em));
}

.toolbar
  .admin-toolbar-messages__group--status
  .admin-toolbar-messages__message {
  color: white;
  background: green;
}

.toolbar
  .admin-toolbar-messages__group--error
  .admin-toolbar-messages__message {
  color: white;
  background: red;
}

.toolbar
  .admin-toolbar-messages__group--warning
  .admin-toolbar-messages__message {
  color: white;
  background: orange;
}

@media (min-width: 61em) {
  .toolbar .admin-toolbar-messages__toggle:focus,
  .toolbar .admin-toolbar-messages__toggle:hover {
    background: linear-gradient(
      rgba(255, 255, 255, 0.125) 20%,
      transparent 200%
    );
  }
}
