{% set bem_block = 'admin-toolbar-messages' %}

<div class="{{ bem_block }}">
  <input class="{{ bem_block }}__toggle-state" type="checkbox" id="{{ bem_block }}" hidden>
  <label class="{{ bem_block }}__toggle" for="{{ bem_block }}">{% trans %}Messages{% endtrans %}</label>

  <div class="{{ bem_block }}__drawer" role="region" aria-label="{% trans %}System messages{% endtrans %}">
    {% for type, messages in message_list %}
      <div class="{{ bem_block }}__group {{ bem_block }}__group--{{ type }}" role="{{ type == 'error' ? 'alert' : 'status' }}">
        {% if status_headings[type] %}
          <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
        {% endif %}
        <ul class="{{ bem_block }}__message-list">
          {% for message in messages %}
            <li class="{{ bem_block }}__message">{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
